.pfont2{
    color: black;
    font-size: 15px;
}

.heading{
    font-size: 20px;
    color: #0083c3;
    padding-top: 10px;
}
h6{
    font-size: 15px;
}
.container8{
   padding-left: 100px;
   padding-top: 40px; 
}
.payer_desc{
    background-color: #0083c3 ;
    height: 380px;
    padding-left: 20px;
}

.white{
    color: white;
    padding-top: 30px;
    padding-bottom: 0px;
   
}
.heading_tittle{
    color: #0566A1;
    padding-top: 60px;
  }
  .heading_span{
    color: #0fb0d8;
  }
.le_blue{
  color:#1E8FC9;
  font-size: 13px;
}

.Feature_img{
  width: 100%;
  height:100%;
  object-fit:contain;
  object-position: top;
  padding-top: 30px;
}
.feature_dis{
    margin-left: 30px;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
}
.feature_pic{
    width: 100%;
    height:100%;
    object-fit: top;
}
.feature_pic2{
    width: 100%;
    height:100%;
    object-fit: top;
}
.benfit_sec{
    background-color: #0083c3 ;
    padding-left: 90px;
    height: 569px;
    padding-top: 80px;
}

.point{
    padding-bottom: 25px;
    padding-left: 14px;
}
.icon{
    color: #0083c3;
    font-size: 20px;
    padding-right: 10px;
}
.dis_div{
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    margin-left: 50px;
}
.dis_bg{
    background-color: #CFE1FC; /* Changing background color */
    font-weight: bold; /* Making font bold */
    border-radius: 20px; /* Making border radius */
    width: fit-content; /* Making auto-sizable width */
    height: 30px; /* Making auto-sizable height */
    padding: 5px 10px 5px 10px; /* Making space around letters */
    box-shadow: none;
    border:none;
    color: #0f95d8;
    /* margin-left:10px ; */
   
    font-size: 13px;  
}
.dis_bg2{
    background-color: #CFE1FC; /* Changing background color */
    font-weight: bold; /* Making font bold */
    border-radius: 20px; /* Making border radius */
    width: fit-content; /* Making auto-sizable width */
    height: fit-content;
    

   
}
.dis_bg3{
    background-color: #0081C3; /* Changing background color */
    font-weight: bold; /* Making font bold */
    border-radius: 20px; /* Making border radius */
    width: fit-content; /* Making auto-sizable width */
    height: 30px; /* Making auto-sizable height */
    padding: 5px 10px 5px 10px; /* Making space around letters */
    box-shadow: none;
    border:none;
    color: #fff;
    margin-left:10px ;
    font-size: 13px;  
}
.claim_ic{
    font-size:50px
}
.number_heading{
    margin-left: 10px;
    padding-top: 0px;
    font-weight: bold;
    font-size: 28px;
}
.container40{
    padding-top: 40px;
    padding-left: 400px;
    padding-right: 0px;
    
}
.claims_icon{
    display: flex;
    color: #0083c3;
}
.claims_icon2 {
    display: flex; 
    color:#fff;
}
.claims_number{
    display: block;
    
}
.claims_p{
    font-size: 12px;
    color: black;
    margin-bottom: 0px;
    margin-left: 10px;
    padding-top: 1px;
}
.right_img4{
    position:absolute;
    height: 670px;
    width: 159px;
    top: -400px;
    bottom: -280px;
    right: -609px;
    object-fit: contain;
  }
  .right_img5{
    position:absolute;
    height: 670px;
    width: 179px;
    top: -400px;
    bottom: -250px;
    right: 2px;
    object-fit: contain;
    display: none;
  }
  span{
    cursor: pointer;
  }

.feat{
    margin-top: 90000px ;
}
.ic_bg{
    justify-content: center;
    align-items: center;
    background-color: #CFE1FC;
    border-radius: 5px;
    height: 64px;
    width: 50px;
}
.ic_bg2{
    justify-content: center;
    align-items: center;
    background-color: #CFE1FC;
    border-radius: 5px;
    height: 52px;
    width: 64px;
}
.fa-money-bill-1{
    font-size: 68x;
    padding-left: 1px;
    padding-top: 1px;
    margin-left: 3px;
}
.fa-file-lines{
    padding-left: 7px;
    padding-top: 4px;
}
.feat_ic{
    background-color: #CFE1FC;
    border-radius: 5px;
    height: 25px;
    width: 25px;
}
.fa-dice-three {
padding-left: 3px;
padding-top: 3px;
}
.fa-bell{
    padding-left: 3px;
    padding-top: 3px; 
}
.fa-lock{
    padding-left: 3px;
    padding-top: 3px; 
}
.fa-qrcode{
    padding-left: 3px;
    padding-top: 3px; 
}
.fa-clock-rotate-left{
    padding-left: 3px;
    padding-top: 3px; 
}
.fa-infinity{
    padding-left: 0px;
    padding-top: 3px; 
}
.length{
height: 569px;
}
@media screen and (max-width: 900px) and (min-width: 305px){

    .payer_desc{
       
        height: 420px;
        /* padding-left: 10px; */
    }
    h3{
        font-size: 30px;
    }
    .container8{
        padding-left: 0px;
        padding-top: 40px; 
     }
    .container40{
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        
    }
    .dis_bg2{
        height: fit-content;
    }
   .right_img4 {
        position: absolute;
        height: 106px;
        width: 159px;
        top: -128px;
        bottom: -22px;
        right: -5px;
        object-fit: contain;
   }
}
/* Medium Laptop Screens */
@media screen and (max-width: 1100px) and (min-width: 720px){
.right_img4 {
    position: absolute;
    height: 154px;
    width: 159px;
    top: -137px;
    bottom: 0px;
    right: -10px;
    object-fit: contain;
  }
  .claims_p{
    font-size: 9px;
  }
  .number_heading{
  font-size: 38px;
  }
  .feature_pic{
    height: 380px;
  }
  .feature_pic2{
    height: 472px;
  }
  .benfit_sec{
    height: 472px;
  }
  .container8{
    padding-left: 5px;
  }

}
@media screen and (max-width: 2100px) and (min-width: 1400px){
    .right_img4 {
        display: none;
    }
}