@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');
html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100%;
  font-family: 'poppins' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color:#F1F3F6  ;/*#F1F3F6 */
}
.container{
  padding-top: 70px;
  padding-bottom: 10px;
}
.container2{
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left:140px ;
  padding-right: 0px;
}
.container3{
  padding-top: 10px;
  padding-bottom: 90px;
  padding-left:150px ;
  padding-right:50px;
  /* align-items: center;
  justify-content: center;
  display: flex; */
}

.logo{
  border-radius: 10%;
  height: 70px;
  width: 70px;
}
.logo2{
  border-radius: 10%;
  height: 40px;
  width: 40px;
}
.bttn{
  border-radius: 30px ;
  padding: 5px 20px;
  font-size: 15px;
  color: white;
  background-color: #0081C3;
  border: none;
}
.bttn:hover{
  color: white;
  background-color: #03abff;
}
.learn_btn{
  border-radius: 28px ;
  text-align: center;
  text-decoration: none;
  color:#0180C3;
  box-shadow: none;
  background-color: transparent;
  /* border-color:solid #0081C3; */
  border: 2px solid;
  padding: 2px 17px;
  font-size: 15px;
}
.learn_btn:hover{
  color: white;
  background-color:#0180c3 ;
  transition: 0.4 ease-out;
}
.learn_btn2{
  border-radius: 28px ;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  border:solid white;
  color:white;
  background-color: transparent;
  border-color: white;
  padding: 2px 17px;
  font-size: 15px;
  border: 2px solid;
}
.learn_btn2:hover{
  color: #0180c3;
  background-color:white;
  transition: 0.4 ease-out;
}
.learn_btn22{
  border-radius: 28px ;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  border:solid white;
  color:white;
  background-color: transparent;
  border-color: white;
  padding: 2px 17px;
  font-size: 15px;
  border: 2px solid;
}
.learn_btn22:hover{
  color: #0180c3;
  background-color:white;
  transition: 0.4 ease-out;
}
.learn_btn3{
  color: #0081C3;
  font-size: 13px;
  background-color: white;
  padding: 5px 25px;
  border-radius: 28px ;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  border: none;
}
.learn_btn3:hover{
  color: white;
  background-color:#068dd6;
  transition: 0.4 ease-out;
}
.Trusted_div{
  background-color: #0180C3;
  color: white;
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem ;
  /* padding: 12px; */ 
}

.Trust_tittle{
  padding-left: 50px;
  margin-top: 20px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  
}

.section{
  background-color: #0180C3;
  padding-top: 30px;
  /* height: 500px; */
}
.section2{
  background-image: linear-gradient(#0081C3, rgb(4, 4, 105) 98% );
}
.sponsor_img{
  align-items: center;
  justify-content: center;
  row-gap: 23px;
  width: 100%;
  height: 70px;
  justify-content: space-between;
}
.sponsor_space{
  padding-left: 40px;
  justify-content: center;
  align-items: center;
}
.spon_div{
  background-color: white;
}
.blue{
  color:#0e8ac4;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}
li {
  list-style: none;
  padding-top: 10px;
  font-size: 12px;
  /* padding-right: 90px; */
}
ul{
  padding-left: unset;
  /* padding-bottom: 90px; */
  /* text-align: left; */
}
h1{
  font-size: 50px;
  font-weight: 600px;
}
h3{
  font-size: 40px;
  font-weight: 500px;
  padding-top: 20px;
  padding-bottom: 30px;
}
h4{
  font-size:22px;
  font-weight: 400px;
}
h5{
  font-size: 20px;
  font-weight: 400px;
}
h6{
  font-size: 15px;
  font-weight: 100;

}
.p{
  font-size: 20px;
  font-weight: 400px;
}
.pfont{
  font-size: 15px;
  font-weight:150px ;
 
}

.form-control{
  display: inline;
  width: 250px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #0180C3 ;
}
.form-controlfooter{
  display: inline;
  width: 250px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #0180C3 ;
}

.move{
  margin-left: 25%;
}

.copyright{
  font-size: 12px;
  padding-top: 20px;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
}

header .logo{
   font-size: 30px;
}

header .display-menu{
  display:flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: white; */
}
.display-menu .menu:hover{
  Color: #0e8ac4;
  transition: o.3s;
}
.display-menu .menu{
  padding:0 15px;
  text-decoration: none;
  color: rgb(3, 1, 97);
}

header .toggle{
  display: none;
  background-color: rgb(38, 93, 196);
  color: white;
  border:none;
  font-size: 12px;
  width: 35px;
  text-align: center;
  align-items: center;
  border-radius:3px;
}
/* .Hero_section{
  align-items: center;
  justify-content: center;
} */
.Hsection{
  height: 400px;
  padding-bottom: 90px;
  padding-top: 80px;
}
.btn-primary{
  border-radius: 30px;
}
.vector{
  position:absolute;
  height:350px ;
  width:250px ;
  top:-35px;
  right: 0px;
}
.vector2{
  position:absolute;
  height:350px ;
  width:250px ;
  /* bottom: 60px; */
  top: -35px;
  left: 0px;
}
.vector_class {
  position: relative;
}
.silh{
  position:absolute;
  height:1% ;
  width:1% ;
  bottom: -350px;
  /* left: 900px; */
}

.hero_tittle{
  font-weight:bolder ;
  background: radial-gradient(rgb(9, 9, 75)2%, #10afff);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation:gradient 8s ease-in-out infinite;
  letter-spacing: 1px;
  
}
.hero_des{
  color: rgb(9, 9, 75);
  font-style: italic;
  padding-top: 5px;
}
.hero_des2{
  color:rgb(11, 129, 207) ;
}
.Hero_P{
  color: black;
  font-size: 15px;
  font-weight: 100;
  padding-top: 5px;
}
.solution_tittle{
  color: #0566A1;
  padding-top: 180px;
}
.solution_span{
  color: #0fb0d8;
}
.solution_box{
  background-color:#0081C3;
  border-radius: 20px;
  height: 640px;
  width: 940px;
  margin-bottom: 90px;
  margin-left:210px;
 
}
.solution_card1{
  color: white;
  padding-left: 20px;
  background-color: #0081C3;
  height: 320px;
  border-top-left-radius: 20px;
}
.solution_card3{
  color: white;
  padding-left: 20px;
  background-color: #0081C3;
  height: 320px;
  border-top-right-radius: 20px;
}
.solution_card4{
  color:#0081C3;
  padding-left: 20px;
  background-color: white;
  height: 316px;
  /* width: 310px; */
  margin-left: 3px;
  border-bottom-left-radius: 20px;
}
.solution_card6{
  color: #0081C3;
  padding-left: 20px;
  background-color: white;
  height: 316px;
  /* width: 310px; */
  border-bottom-right-radius: 20px;
}
.solution_card{
  color: white;
  padding-left: 20px;
  background-color: #0081C3;
  height: 320px;
  /* border-top-left-radius: 20px; */
}
.black{
  color: black;
}
.hflex{
  display: flex;
}
.hblock{
  display: block;
}
.black_client{
  color: black;
 margin-right: 50px;
}
.black_health{
  padding-left: 12px;
  color: black;
}
.black_countries{
  color: black;
  margin-left:0px ;
  padding-right: 19px;
}
.black5{
  color: black;
 margin-bottom: 0px;
 display: flex;
 margin-left: 10px;
 font-size:12px;
 float:inline-start;
}
.stats{ 
  width: 800px;
}
.solution_card2{
  color:#0081C3;
  padding-left: 20px;
  background-color: white;
  height: 320px;
  /* border-bottom-left-radius:20px ; */
}
.solution_icon{
  padding-top:30px ;
  padding-bottom: 30px;
}

.solution_p{
  font-size: 15px;
  font-weight: 100;
}
.ic{
  font-size: 30px;
  color: #0081C3;
  margin-right: 10px;
  border-radius: 5px;
}
.icbg {
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #CFE1FC;
  border-radius: 5px;
  overflow: hidden;
  /* display:  inline; */
  margin-right: 10px;
}
.ic_bg3{
  justify-content: center;
    align-items: center;
    background-color: #CFE1FC;
    border-radius: 5px;
    height: 50px;
    width: 55px;
}
.core_icon{
  display: flex;
}
.fa-lightbulb {
  padding-left: 7px;
  padding-top: 3px;
}
.fa-user-shield{
  padding-left: 1px;
  padding-top: 3px;
}
.fa-thumbs-up{
  padding-left: 5px;
  padding-top: 3px;
}
.fa-helmet-safety{
  padding-left: 3px;
  padding-top: 3px;
}
.fa-user-group{
  padding-top: 4px;
} 
.fa-building{
  padding-top: 4px;
}
.fa-globe{
  padding-top: 4px;
}
.ic3{
  font-size: 50px;
  color: #0081C3;
  /* margin-right: 10px; */
}
.ic5{
  font-size: 40px;
  color: #0081C3;
  /* margin-right: 10px; */
  /* border-radius: 5px; */
}
.black{
  color: black;
}
.black2{
  color: black;
  margin-left: 32px;
  font-size: 14px;
}
.black3{
  color: black;
  font-size: 11px;
  margin-right: 0px;
}
.black4{
  color: black;
  
}
.Besf_sec{
  background-color: white;
  height:500px ;
  width:510px ;
  position: relative;
  top:-110px;
  
}
.besf_sec2{
  margin-left: 70px;
  padding-top: 100px;
  
}
.Bestf_tittle{
  color: #0081C3;
  margin-left: 10px;
  padding-top: 10px;
  
}
.besf_icon{
  display: flex;
  color: #0081C3;
}
.besf_icon2{
  justify-content: center;
  align-items: center;
  background-color: #CFE1FC;
  border-radius: 5px;
  height: 56px;
  width: 60px;
}
.besf_block{
  display: block;
}

.Bestf_P{
  color: black;
  font-size: 13px;
  font-weight: 100;
  margin-left: 10px;
 
}
.Ficon{
  margin-left: 3px;
}
.core_points{
  background-color: #0180C3;
  padding-top: 60px;
  padding-left: 90px;
  height: 560px;
}
.core_img{
  width:100% ;
  height: 100% ;
  object-fit: cover;
}
.block{
  display:block;
}
.cflex{
   display: flex;
 /* align-items: center; */
}
.ic2{
  font-size: 50px;
 
}
.abu_sec{
  background-color: #0081C3;
  padding-top: 60px;
  padding-left: 90px;
  height:470px;
}
.position_tittle{
 font-size: 15px;
}
.corev_title{
  padding-top:50px;
  color: #0566A1;
}
.about_img{
  width:100% ;
  height: 100% ;
  object-fit: cover;
}
.values{
  display: inline;
}
.mission_vission{
  background-color: #F1F3F6;
  color: #0081C3;
  height: 520px;
}
.mission_vission2{
  background-color: #0081C3;
  padding-top: 40px;
  padding-left: 90px;
  height:520px;
}
.h_mission{
  padding-top: 90px;
  margin-left: 50px;
}
.missionfont{
  font-size: 15px;
  font-weight:4000px ;
  padding-top: 0px;
  margin-left:50px ;
  margin-right:90px;
  color: #515151;
}
.h_vission{
  margin-left: 50px;
}
.profile{
  background-color: #0081C3;
  padding-top: 60px;
  height: 545px;
}
.profile_post{
  padding-top: 1px;
}
.profile_name{
  padding-top: 10px;
}
  
.profile_image{
  /* padding-bottom: 800px; */
  height: 12rem;
  width:12rem;
  border-radius: 5%;
  object-fit: cover;
}
.profile_img{
  width: 100%;
  height:100%;
  object-fit:cover;
  object-position: top;
}
.profile_margin{
  margin-left: 40px;
}
.profile_card{
  
  align-items: center;
  justify-content: center;
}
.img_card{
  width: 100%;
  height: 545px;
  align-items: center;
  justify-content: center;
  /* object-fit:top; */
}
.layout{
  display: inline-flex;
}
.feature_txt{
  color: black;
  padding-top: 9px;
  padding-left: 12px;


}
.right_img3{
  position:absolute;
  height: 670px;
  width: 179px;
  top: -400px;
  bottom: -250px;
  right: 2px;
  object-fit: contain;
}
.right_img9  {
    position:absolute;
    height: 970px;
    width: 179px;
    top: -450px;
    bottom: -250px;
    right: 8px;
    object-fit: contain;
  
}
.right_img99{

  position:absolute;
  height: 100px;
  width: 179px;
  top: 950px;
  /* bottom: 20px; */
  left: 350px;
  object-fit: contain;
}
.right_img98{
  position:absolute;
  height: 100px;
  width: 179px;
  top: 955px;
  left: 670px;
  object-fit: contain;
}
.right_img97{
  position:absolute;
  height: 100px;
  width: 129px;
  top: 955px;
  left: 998px;
}
.right_img96{
  display: none;
}



  
@media screen and (max-width: 900px) and (min-width: 305px){

.row{
  padding-left: 0px;
}
  header .display-menu {
  position: absolute;
  top: 70px;
  width:100%;
  background-color: white;
  flex-direction: column;
}
  .display-menu .menu{
    padding: 15px;
  }

  header .toggle{
    display: block;
  }
  .learn_btn2{
    display: block;
  }
  .learn_btn{
    display: block;
  }
  .solution_box{
    margin-left: 0px;
    width:auto;
    border-radius: 0px;
    padding-bottom: 1980px;
  }
  .solution_tittle{
    padding-top: 240px;
    padding-right:20px;
  }
   .Besf_sec2{
      margin-left: 70px;
      padding-top: 20px;
    }
  
  
    .core_points{
      padding-bottom: 200px;
    }
    .sponsor_space{
      padding-left: -9px;
    }
  
    .vector{
      /* display: none; */
      height:200px ;
      width:90px ;
      bottom: 710px;
      top: 20px;
    }
    .vector2{
      /* display: none; */
      height:200px ;
      width:90px ;
      bottom: 710px;
      top: 20px;
    }
  
    .Besf_sec{
      margin-left: -17px;
      width: 380px;
    }
    .besf_sec2{
      margin-top: 140px;
      padding-top: 30px;
      
    }
    .spon_div{
      background-color: white;
      /* height: 90px; */
      width:387px;
    }
    .sponsor_img{
     align-items: center;
     justify-content: center;
      row-gap: 23px;
      width: 100%;
      height: 100%;
     
    }
    .solution_card4 {
      
      border-radius: 0px;
    }
    
    .solution_card6{
      
      border-radius: 0px;
    }
    .profile_img{
      width: 100%;
      height:100%;
      object-fit:cover;
    }
    .container2{
      padding-left: 90px;
    }
    .black{
      margin-top: 12px;
    }
    .mission_vission2{
      padding-left: 10px;
      height: 645px;
    }
    .missionfont {
      margin-left: 10px;
    }
    .h_vission  {
      margin-left: 10px;
    }
    .h_mission{
      margin-left: 10px;
    }
   .profile_margin {
      margin-left: 0px;
      padding: 8px;
      margin-bottom: 50px;
  }
  .profile{
    height: 578px;
  }
  .abu_sec {
    padding-left: 20px;
    height: 400px;
}
.right_img9  {
  position:absolute;
  height: 108px;
  width: 73px;
  top: -25px;
  /* bottom: -250px; */
  right: 7px;
  object-fit: contain;

}
.right_img99 {
  position: absolute;
  height: 100px;
  width: 179px;
  bottom: -600px;
  left: 250px;
  object-fit: contain;
  display: none;
}

.right_img98{
 display: none;
}
.right_img97{
  display: none;
}
.right_img96{
  display: none;
}
/*  */

.footer_Tittle{
  display:flex;
  align-items: center;
  justify-content: center;

  /* padding-left: 30px; */
  padding-bottom: 0px;
  padding-top: 20px;
}
.unorderlist{
  display:flex;
  align-items: center;
  justify-content: center;
}
.copyright{
  padding-left: 10px;
}
.logo{
margin-left: 130px;
}
.learn_btn22{
  margin-left: 110px;
  display: block;
}
.form-controlfooter{
  width: 75%;
  margin-left: 54px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 38px;

}
.core_icon {
  padding-top: 16px;
}

}

/* Medium Laptop Screens */
@media screen and (max-width: 1100px) and (min-width: 720px){
  .solution_tittle {
    padding-top: 80px;
}
.right_img9 {
  display: none;
}

.Besf_sec {
  width: 399px;
}
  .solution_box{
        padding-bottom: 0px;
    /* padding-bottom:1430px; */
    margin-left:30px;
 
  }
  .sponsor_img{
     width: 690px;
     height: 100%;
    
   }
  
   .spon_div {
    width:fit-content;
   }
   .profile_img{
    height: 125%;
   }
   .profile{
    height: 560px;
   }
   .mission_vission2{
    height: 605px;
   }
  .container3 {
    /* padding-top: 10px; */
    /* padding-bottom: 90px; */
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 40px;
}
.feature_txt {
  color: black;
  padding-top: 10px;
  font-size: 13px;
}
.container33 {
  padding-top: 10px;
  padding-bottom: 90px;
  padding-left: 145px;
  padding-right: 60px;
}
.right_img99 {
  position: absolute;
  height: 100px;
  width: 179px;
  bottom: -600px;
  left: 250px;
  object-fit: contain;
  display: none;
}

.right_img98{
 display: none;
}
.right_img97{
  display: none;
}
.right_img96{
  display: none;
}

}