@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  font-family: 'poppins' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color:white ;
}
.container{
  padding-top: 90px;
  padding-bottom: 10px;
}
.container2{
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left:140px ;
  padding-right: 0px;
}
.container3{
  padding-top: 70px;
  padding-bottom: 80px;
  padding-left:75px ;
  padding-right:50px;
}
.logo{
  border-radius: 10%;
  height: 60px;
  width: 60px;
}
.bttn{
  border-radius: 30px ;
  padding: 5px 20px;
  font-size: 15px;
  color: white;
  background-color: #0081C3;
  border: none;
}
.bttn:hover{
  color: white;
  background-color: #03abff;
}
.learn_btn{
  border-radius: 28px ;
  text-align: center;
  text-decoration: none;
  /* border:10px; */
  color:#0180C3;
  box-shadow: none;
  background-color: transparent;
  border-color: #0081C3;
  padding: 2px 17px;
  font-size: 15px;
}
.learn_btn:hover{
  color: white;
  background-color:#0180c3 ;
  transition: 0.4 ease-out;
}
.learn_btn2{
  border-radius: 28px ;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  /* border: none; */
  color:white;
  background-color: transparent;
  border-color: white;
  padding: 2px 17px;
  font-size: 15px;
}
.learn_btn2:hover{
  color: #0180c3;
  background-color:white;
  transition: 0.4 ease-out;
}
.learn_btn3{
  color: #0081C3;
  font-size: 13px;
  background-color: white;
  padding: 5px 25px;
  border-radius: 28px ;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  border: none;
}
.learn_btn3:hover{
  color: white;
  background-color:#068dd6;
  transition: 0.4 ease-out;
}
.Trusted_div{
  background-color: #0180C3;
  color: white;
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem ;
  /* padding: 12px; */ 
}

.Trust_tittle{
  padding-left: 50px;
  margin-top: 20px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  
}

.section{
  background-color: #0180C3;
  padding-top: 30px;
  padding-bottom: 0px;
}
.section2{
  background-image: linear-gradient(#0081C3, rgb(4, 4, 105) 98% );
}
.sponsor_img{
  align-items: center;
  justify-content: center;
  row-gap: 23px;
  width: 100%;
  height: 70px;
  justify-content: space-between;
}
.sponsor_space{
  padding-left: 40px;
  justify-content: center;
  align-items: center;
}
.spon_div{
  background-color: white;
}
.blue{
  color:#0e8ac4;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
  padding-top: 10px;
  font-size: 12px;
  /* padding-right: 90px; */
}
ul{
  padding-left: unset;
  /* padding-bottom: 90px; */
  /* text-align: left; */
}
h1{
  font-size: 50px;
  font-weight: 600px;
}
h3{
  font-size: 40px;
  font-weight: 500px;
  padding-top: 20px;
  padding-bottom: 30px;
}
h4{
  font-size:22px;
  font-weight: 400px;
}
h5{
  font-size: 20px;
  font-weight: 400px;
}
h6{
  font-size: 15px;
  font-weight: 100;

}
.p{
  font-size: 20px;
  font-weight: 400px;
}
.pfont{
  font-size: 15px;
  font-weight:150px ;
 
}

.form-control{
  display: inline;
  width: 250px;
  font-size: 15px;
}
.move{
  margin-left: 25%;
}

.copyright{
  font-size: 12px;
  padding-top: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
}

header .logo{
   font-size: 30px;
}

header .display-menu{
  display:flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: white; */
}
.display-menu .menu:hover{
  Color: #0e8ac4;
  transition: o.3s;
}
.display-menu .menu{
  padding:0 15px;
  text-decoration: none;
  color: rgb(3, 1, 97);
}

header .toggle{
  display: none;
  background-color: rgb(38, 93, 196);
  color: white;
  border:none;
  font-size: 12px;
  width: 35px;
  text-align: center;
  align-items: center;
  border-radius:3px;
}
/* .Hero_section{
  align-items: center;
  justify-content: center;
} */
.Hsection{
  height: 400px;
  padding-bottom: 20px;
  padding-top: 80px;
}
.btn-primary{
  border-radius: 30px;
}
.vector{
  position:absolute;
  height:500px ;
  width:250px ;
  bottom: 20px;
  top: 50px;
  right: 0px;
}
.vector2{
  position:absolute;
  height:500px ;
  width:250px ;
  bottom: 20px;
  top: 50px;
  left: 0px;
}
.silh{
  position:absolute;
  height:1% ;
  width:1% ;
  bottom: -350px;
  /* left: 900px; */
}

.hero_tittle{
  font-weight:bolder ;
  background: radial-gradient(rgb(9, 9, 75)2%, #10afff);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation:gradient 8s ease-in-out infinite;
  letter-spacing: 1px;
  
}
.hero_des{
  color: rgb(9, 9, 75);
  font-style: italic;
  padding-top: 5px;
}
.hero_des2{
  color:rgb(11, 129, 207) ;
}
.Hero_P{
  color: black;
  font-size: 15px;
  font-weight: 100;
  padding-top: 5px;
}
.solution_tittle{
  color: #0566A1;
  padding-top: 220px;
}
.solution_span{
  color: #0fb0d8;
}
.solution_box{
  background-color:#0081C3;
  border-radius: 20px;
  height: 640px;
  width: 940px;
  align-items: center;
  justify-content: center;
  margin-bottom: 170px;
  margin-left: 150px;
  overflow: hidden;
}
.solution_card1{
  color: white;
  padding-left: 20px;
  background-color: #0081C3;
  height: 320px;
  border-top-left-radius: 20px;
}
.solution_card3{
  color: white;
  padding-left: 20px;
  background-color: #0081C3;
  height: 320px;
  border-top-right-radius: 20px;
}
.solution_card4{
  color:#0081C3;
  padding-left: 20px;
  background-color: white;
  height: 316px;
  width: 310px;
  margin-left: 3px;
  border-bottom-left-radius: 20px;
}
.solution_card6{
  color: #0081C3;
  padding-left: 20px;
  background-color: white;
  height: 316px;
  width: 310px;
  border-bottom-right-radius: 20px;
}
.solution_card{
  color: white;
  padding-left: 20px;
  background-color: #0081C3;
  height: 320px;
  /* border-top-left-radius: 20px; */
}
.black{
  color: black;
}
.black_client{
  color: black;
 margin-right: 50px;
}
.black_health{
  padding-right: 70px;
  color: black;
}
.black_countries{
  color: black;
  margin-left:80px ;
}
.black5{
  color: black;
 margin-bottom: 0px;
 display: flex;
 margin-left: 10px;
 font-size:12px;
 float:inline-start;
}
.stats{ 
  width: 800px;
}
.solution_card2{
  color:#0081C3;
  padding-left: 20px;
  background-color: white;
  height: 320px;
  /* border-bottom-left-radius:20px ; */
}
.solution_icon{
  padding-top:30px ;
  padding-bottom: 30px;
}

.solution_p{
  font-size: 15px;
  font-weight: 100;
}
.ic{
  font-size: 30px;
  color: #0081C3;
  margin-right: 10px;
  border-radius: 5px;
}
.icbg{
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CFE1FC;
  border-radius: 5px;
  overflow: hidden;
}
.ic3{
  font-size: 50px;
  color: #0081C3;
  /* margin-right: 10px; */
}
.ic5{
  font-size: 40px;
  color: #0081C3;
  /* margin-right: 10px; */
  /* border-radius: 5px; */
}
.black{
  color: black;
}
.black2{
  color: black;
  margin-left: 40px;
}
.black3{
  color: black;
  font-size: 11px;
  margin-right: 0px;
}
.black4{
  color: black;
  
}
.Besf_sec{
  background-color: white;
  height:500px ;
  width:510px ;
  position: relative;
  top:-110px;
  
}
.besf_sec2{
  margin-left: 70px;
  padding-top: 100px;
  
}
.Bestf_tittle{
  color: #0081C3;
  
}

.Bestf_P{
  color: black;
  font-size: 15px;
  font-weight: 100;
}
.core_points{
  background-color: #0180C3;
  padding-top: 60px;
  padding-left: 90px;
  height: 560px;
}
.core_img{
  width:100% ;
  height: 100% ;
  object-fit: cover;
}
.block{
  display:block;
}
.cflex{
   display: inline-flex;
 /* align-items: center; */
}
.ic2{
  font-size: 50px;
 
}
.abu_sec{
  background-color: #0081C3;
  padding-top: 60px;
  padding-left: 90px;
  height:470px;
}
.corev_title{
  padding-top:40px;
  color: #0566A1;
}
.about_img{
  width:100% ;
  height: 100% ;
  object-fit: cover;
}
.mission_vission{
  background-color: white;
  color: #0081C3;
  height: 520px;
}
.mission_vission2{
  background-color: #0081C3;
  padding-top: 40px;
  padding-left: 90px;
  height:520px;
}
.h_mission{
  padding-top: 90px;
  margin-left: 50px;
}
.missionfont{
  font-size: 15px;
  font-weight:4000px ;
  padding-top: 0px;
  margin-left:50px ;
  color: #515151;
}
.h_vission{
 
  margin-left: 50px;
}
.profile{
  background-color: #0081C3;
  padding-top: 60px;
  height: 450px;
}
.profile_image{
  /* padding-bottom: 800px; */
  height: 160px;
  width: 180px;
  border-radius: 15%;
  align-items: center;
  justify-content: center;
}
.profile_img{
  width: fit-content;
  height:fit-content;
  object-fit:cover;
}
.profile_margin{
  margin-left: 40px;
}
.profile_card{
  
  align-items: center;
  justify-content: center;
}
.layout{
  display: inline-flex;
}
@media screen and (max-width: 900px){

  header .display-menu {
  position: absolute;
  top: 70px;
  width:100%;
  background-color: white;
  flex-direction: column;
}
  .display-menu .menu{
    padding: 15px;
  }

  header .toggle{
    display: block;
  }
  .solution_box{
    margin-left: 0px;
    width: 340px;
  }
  .solution_tittle{
    padding-top: 240px;
    padding-right: 50px;
  }
   .Besf_sec2{
      margin-left: 70px;
      padding-top: 20px;
    }
    .solution_tittle{
      padding-top: 380px;
    }
    .solution_box{
      border-radius: 20px;
      padding-bottom: 1980px;
    }
    .core_points{
      padding-bottom: 200px;
    }
    .sponsor_space{
      padding-left: 10px;
    }
    .sponsor_img{
      width: 375px;
    }
    .vector{
      display: none;
    }
    .vector2{
      display: none;
    }
    .Besf_sec{
      margin-right: 30px;
      width: 365px;
    }
}